#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}
  
.blob {
	position: absolute;
	z-index: -1;
	aspect-ratio: 1/1;
	border-radius: 50%;
	opacity: 0.5;
  mask-image: radial-gradient(black 30%, transparent 70%);
	-webkit-mask-image: radial-gradient(black 30%, transparent 70%);
}

.group {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

h1 {
  font-family: "League Spartan", system-ui;
	font-size: 4rem;
	margin: 0;
	color: #9f3a80;
}

p {
  font-family: "League Spartan", system-ui;
	font-size: 8rem;
  font-weight: 700;
	margin: 0;
	color: #5070a4;
}

small {
  font-family: "Open Sans", system-ui;
  font-size: 2rem;
  color: #505050;
}